body{
    color: #333;
    text-align: left;
    font-family: 'Courier New', Courier, monospace
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    font-size: 16px;
    border: 1px solid #DDD;
    margin: 0 auto;

}
#container h1{
    font-size: 20px;
}
#cabecera{
    background: #44C;
    color: white;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.5);

}
#cabecera #tagline{
    font-weight: normal;
    font-size: 0.8em;
    margin: 0 0 0 1em;
}
#post{
    padding: 1em;

}